@media (max-width: 800px) {
  section #search {
    width: 20%; }

  ul.files button {
    min-width: 27px;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px; }
  ul.files button.deleteFile {
    position: relative;
    right: -5px; }
  ul.files .doStuff {
    width: 80px;
    right: -10px; }
  ul.files li a {
    padding: 7px 80px 7px 10px; } }
@media (max-width: 620px) {
  #addFile {
    display: none; }

  .wrap > header {
    display: none; }

  aside {
    margin-top: 0; }
    aside header {
      width: 100%; }
    aside:after {
      display: none; }

  #pages:after {
    display: none; }

  aside header {
    position: fixed !important;
    z-index: 1000; }
    aside header #search {
      wdith: 150px; }

  #pages header {
    position: fixed; }

  body {
    overflow-x: hidden;
    overflow-y: visible;
    padding: 0 !important; }

  .wrap {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -o-border-radius: 0px;
    -border-radius: 0px;
    border-radius: 0px;
    border-top: 0px;
    width: auto; }

  #pages, .toggleView, .toggleWrap, .editTools {
    -webkit-transition: -webkit-transform 0.25s;
    -moz-transition: -moz-transform 0.3s;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0); }

  .editTools {
    right: -20px; }

  .fieldContainer label {
    width: 105px !important; }

  .toggleView, .backToFiles {
    display: block;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    width: 32px;
    height: 32px;
    padding: 2px 0px 0px 6px;
    margin: 7px 0 0 10px;
    min-width: 32px; }

  .backToFiles {
    margin-top: -8px;
    margin-left: 0px; }
    .backToFiles:after {
      content: "d" !important;
      font-family: "Pictos Custom";
      -webkit-font-smoothing: antialiased;
      background-image: #efefef;
      background-image: -moz-linear-gradient(top, #efefef, #bbbbbb);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(1, #bbbbbb));
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top', EndColorStr='$bottom');
      border-left: 1px solid rgba(0, 0, 0, 0.05);
      border-right: 1px solid rgba(0, 0, 0, 0.05);
      border-top: 1px solid white;
      border-bottom: 1px solid #aaaaaa;
      font-size: 16px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -o-border-radius: 5px;
      -border-radius: 5px;
      border-radius: 5px;
      display: inline-block;
      text-align: center;
      padding: 7px 11px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: bold;
      text-shadow: white 0 1px 0px;
      -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Color=white,Direction=135,Strength=0);
      min-width: 0px;
      width: 10px;
      height: 16px; }

  .toggleView {
    left: 0; }
    .toggleView:after {
      display: none; }

  .toggleWrap {
    display: block;
    top: 0px;
    left: 0;
    height: 1px;
    padding: 10px;
    position: fixed;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1000;
    width: 100%; }

  .wrap {
    overflow-x: hidden; }

  header {
    background-image: transparent;
    background-image: -moz-linear-gradient(top, transparent, transparent);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, transparent));
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top', EndColorStr='$bottom');
    border: 0px;
    position: fixed;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -o-border-radius: 0px;
    -border-radius: 0px;
    border-radius: 0px;
    z-index: 1;
    background: #c3cbce url(/img/paper.jpg);
    width: 100%;
    height: 48px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Color=rgba(0, 0, 0, 0.5),Direction=135,Strength=5); }
    header select {
      margin-top: 0;
      top: 10px; }
    header input {
      margin-left: 0;
      left: 10px;
      top: 7px;
      max-width: 1000px;
      width: 35%;
      font-size: 14px;
      padding: 9px 10px 6px 10px; }
    header button {
      padding: 8px; }
      header button#addContact {
        position: absolute;
        right: 18%;
        top: 8px;
        left: auto; }

  #pages {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 60px 10px 100px 10px;
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    left: 0;
    top: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Color=rgba(0, 0, 0, 0.5),Direction=135,Strength=5);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

  .page {
    margin: 0;
    padding: 10px 0; }
    .page #search {
      width: 150px;
      margin: 6px 0 0 50px; }
    .page #addFile {
      top: 9px;
      right: 0px; }
    .page .backToFiles {
      left: 50px;
      z-index: 100000; }

  .mainContent {
    margin-left: 0; }

  aside {
    border-left: 0px none;
    top: 0px;
    bottom: 0;
    padding-top: 46px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 0px transparent; }
    aside li:last-child {
      margin-bottom: 100px; }

  aside header, section header {
    position: absolute;
    left: 0;
    top: 0; }

  .drawerOpen #pages, .drawerOpen .toggleWrap {
    -webkit-transform: translateX(85%);
    -moz-transform: translateX(85%); }

  .drawerOpen .editTools {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%); } }
